
from dtc.enums.message_types import MessageTypes
from lib.base_message_type import BaseMessageType


class {{class_name}}(BaseMessageType):
    def __init__(self{% for var in values %},
                 {{ var._name }}=None{% endfor %}):
        self.Type = MessageTypes.{{class_name_snake}}
{% for var in values %}        self.{{ var.name }} = {{ var._name }}{{ "\n" }}{% endfor %}
    @staticmethod
    def from_message(message_obj):
        return {{class_name}}(
{% for var in values %}             {{ var._name }}=message_obj.get('{{ var.name }}'){% if not loop.last %}{{ ",\n" }}{% endif %}{% endfor %}
        )

    @staticmethod
    def get_message_type_name():
        return "{{class_name}}"

