import json
import logging
from dtc.enums.message_types import MessageTypes

{% for _class in classes %}from dtc.message_types.{{ _class._name|lower }} import {{ _class.__name }}
{% endfor %}
TYPE = 'Type'


class MessageUtil:
    def __init__(self):
        pass

    @staticmethod
    def parse_incoming_message(message_text):
        response = None
        message_obj = json.loads(message_text)

{% for _class in classes %}        {% if not loop.first %}el{% endif %}if message_obj[TYPE] == MessageTypes.{{ _class._name|upper }}:
            response = {{ _class.__name }}.from_message(message_obj)
{% endfor %}
        return response

